[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
discord-py = "*"
sqlalchemy = "*"
mysqlclient = {path = "./dependencies/mysqlclient-1.4.6-cp38-cp38-win32.whl"}
colorama = "*"

[requires]
python_version = "3.8"
